@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --color-primary: #0fb582;
  --color-secondary: #ff8f00;
  --color-dark: #35495e;
}

/******* Custom Class *******/

.fw-med {
  font-weight: 500;
}

.fw-sbold {
  font-weight: 600;
}

.fs-7 {
  font-size: 14px;
}

.fs-8 {
  font-size: 12px;
}

.fs-9 {
  font-size: 10px;
}



/***** Custom Class End *****/



.home-section {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)),
    url(../img/home-bg-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-heading {
  font-size: 4rem;
  letter-spacing: 4px;
}

.sub-heading {
  letter-spacing: 3px;
}

.heading-secondary {
  display: inline-block;
  letter-spacing: 1px;
}

.heading-secondary::after {
  content: "";
  height: 5px;
  width: 3rem;
  background-color: var(--bs-primary);
  display: block;
  margin-top: .2rem;
  margin-left: auto;
  margin-right: 2px;
}

.countdown-time {
  font-size: 4rem;
}

.card {
  box-shadow: 0 0 20px 0 rgb(62 28 131 / 10%);
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 0 20px 0 rgb(62 28 131 / 20%);
  cursor: pointer;
}

.add-favorite {
  top: 12px;
  right: 20px;
}

.testimonials,
.section-contact {
  background-color: #E7F7F2;
}

.testimonial-text {
  width: 75%;
}

.student-img-box {
  height: 70px;
  border-radius: 100px;
}

.blog-section .card-text {
  hyphens: auto;
}

input:active {
  outline: none;
}


.section-footer {
  background-color: #35495e;
}

.social-icon {
  height: 40px;
  width: 40px;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  background-color: var(--color-primary);
  cursor: pointer;
  border-radius: 40px;
}

i {
  padding: 0;
  margin: 0;
}


.course-popup {
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6000;

  padding-left: 12rem;
  padding-right: 12rem;
}

.popup-content {
  max-height: 90vh;
  background-color: white;
  padding: 2rem;
  position: relative;
  overflow-y: auto;
}

.popup-img img {
  width: 400px;
}


.popup-details-text {
  column-count: 2;
  column-gap: 3rem;
  hyphens: auto;
  column-rule: 1px solid var(--color-dark);
}

.popup-close {
  position: absolute;
  top: 0.8rem;
  right: 1.4rem;
  cursor: pointer;

  /* background-color: red; */
}

@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {
  .course-popup {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media (max-width: 991.98px) {
  .main-heading {
    font-size: 3.5rem;
    letter-spacing: 4px;
  }

  .testimonial-text {
    width: 100%;
  }

  .course-popup {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (max-width: 767.98px) {
  .main-heading {
    font-size: 2.5rem;
    letter-spacing: 4px;
  }

  .popup-img img {
    width: 100%;
  }

  .course-popup {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /* .popup-content {
    overflow: scroll;
  } */

  .popup-details-text {
    column-count: 1;
    column-gap: 0;
    hyphens: none;
    column-rule: 0px solid var(--color-dark);
  }

}

@media (max-width: 575.98px) {
  .main-heading {
    font-size: 1.5rem;
    letter-spacing: 4px;
  }
}

@media (max-width: 359.98px) {
  .main-heading {
    font-size: 1.2rem;
    letter-spacing: 4px;
  }

  .heading-secondary {
    font-size: 1rem;
  }

  .more-coming {
    font-size: 1rem;
  }

  .all-courses {
    font-size: .8rem;
  }
}